*.pt
*.pth
*.json
*.parquet
__pycache__
cache/
data/
output/
triton/
inspector.py
backollo.py
unapollo_v*
launch_vast.sh
unapollo_landmark_bk.py
pykan/
old/
*.yaml
*.log
*.wandb
*.mmap
*.npy
datasets/
*.arrow
wandb/
dataset/
merges.txt
*.pyc